In [1]:
import numpy as np
import pandas as pd

In [6]:
album = pd.read_csv(r'data/album.csv')
artist = pd.read_csv(r'data/artist.csv')
customer = pd.read_csv(r'data/customer.csv')
employee = pd.read_csv(r'data/employee.csv')
genre = pd.read_csv(r'data/genre.csv')
invoice_line = pd.read_csv(r'data/invoice_line.csv')
invoice = pd.read_csv(r'data/invoice.csv')
media_type = pd.read_csv(r'data/media_type.csv')
playlist_track = pd.read_csv(r'data/playlist_track.csv')
playlist = pd.read_csv(r'data/playlist.csv')
track = pd.read_csv(r'data/track.csv')

In [26]:
# 1. Who is the senior most employee based on the job title?

employee.sort_values('levels',ascending=False)[:1]

,employee_id,last_name,first_name,title,reports_to,levels,birthdate,hire_date,address,city,state,country,postal_code,phone,fax,email
8,9,Madan,Mohan,Senior General Manager,NaN,L7,26-01-1961 00:00,14-01-2016 00:00,1008 Vrinda Ave MT,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,madan.mohan@chinookcorp.com